body {
    background-color: rgb(154, 230, 13);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

header {
    border: solid 2px black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    height: 10vh;
    width: 100%;
    color: black;
}

.modal {
    background-color: rgb(15, 202, 235);
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: 3;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 15%;
    border: solid 3px black;
    color:black;
}

.modal-content {
    margin: 40% auto;
    /* padding: 20px;
    width: 60%; */
    text-align: center;
    color: rgb(115, 146, 28);
}

.game {
    display: flex;
    height: 100%;
    width: 100%;
}

aside {
    border: solid 1px black;
    height: 100vh;
    width: 16%;
    margin: auto 2px auto 2px;
    
}

.statstitle {
    text-align: center;
    margin: 10px auto auto auto
}

.sidebar {
    border: solid 1px black;
    background-color: lightblue;
    height: 12%;
    width: 80%;
    margin: 4px auto auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70%;
    line-height: 12%;
}

.container {
    border: solid 1px black;
    height: 100vh;
    width: 75%;
    margin: none;
}

.row1, .row2, .row3 {
    height: 33%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-image: contain;
    background-color: black;
    position: relative;
    width: 14%;
    height: 90%;
    margin: 1px 2px 1px 2px;
}
.lfz-card, .linkedin, .twitter, .facebook, .insta, .youtube , .line, .kakao, .whtsapp , .snapchat{
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    
}
    
.lfz-card{
background-image: url("../images/lfz-card.jpg");
z-index: 1;
}
.facebook{
background-image: url("../images/facebook.png");
}
.insta{
background-image: url("../images/insta.jpeg");
}
    
.snapchat{
background-image: url("../images/snapchat.jpeg");
}
.youtube{
background-image: url("../images/youtube.jpeg");
}
.linkedin{
background-image: url("../images/linkedin.png");
}
.whtsapp{
background-image: url("../images/whtsapp.jpeg");
}
.line{
background-image: url("../images/line.png");
}
.kakao{
background-image: url("../images/kakao.png");
}
.twitter{
background-image: url("../images/twitter.jpeg");
}
.hidden {
    display: none;
}