html{
    overflow: hidden;
}
body {
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif; 
}

header { 
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    height: 10vh;
    color: rgb(136, 223, 238); 
}
.stats-area {
    margin: -30px auto;
    width: 100%;
    font-size:20px;
    position: absolute;
    text-align: center;  
}
.stats-area > * {
    color: rgb(136, 223, 238); 
}
.stats-area > div, p {
    width: 15%;
    display: inline-block;

}
:root {
    --modal-duration: 1s;
    --modal-color: #428bca;
}
  
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.modal-content {
    margin: 10% auto;
    width: 19%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    text-align: center;
  }
  
.modal-header {
    padding: 15px;
    color: #fff;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
.modal-body {
    padding: 10px 10px;
    background: #fff;
    text-align: center;
}
 
.restart {
    font-size: 30px;
    color: #fff;
}
  
.restart:hover,
.restart:focus {
    color: rgb(45, 190, 16);
    text-decoration: none;
    cursor: pointer;
  }
main {
    height: 100%;
    width: 100%;   
}
.game {
    display: flex;
    height: 100%;
    width: 100%; 
    margin: 20px;  

}

.row1{
    height: 28%;
    width: 100%;
    float: left;
    align-items: center;
    justify-content: center;
    margin:0;
    
}
.card {
    display:inline-block;
    border: 1px solid white;
    position: relative;
    width: 15%;
    height: 70%;
    margin: 1px 2px 1px 2px;  
}
.lfz-card {
    height: 90%;
    width: 90%;
    position: absolute;
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
    top:5%;
    left:5%;
}
.linkedin, .twitter, .facebook, .insta, .youtube , .line, .kakao, .whtsapp , .snapchat{
    height: 90%;
    width: 90%;
    position: absolute;
    background-size: contain;
    background-position: center;   
    background-repeat: no-repeat;
    top:5%;
    left:5%;
}
    
.lfz-card {
background-image: url("../images/lfz-card.jpg");
z-index: 1;
}
.facebook {
background-image: url("../images/facebook.png");
}
.insta {
background-image: url("../images/insta.jpeg");
}   
.snapchat {
background-image: url("../images/snapchat.jpeg");
}
.youtube {
background-image: url("../images/youtube.jpeg");
}
.linkedin {
background-image: url("../images/linkedin.png");
}
.whtsapp {
background-image: url("../images/whtsapp.jpeg");
}
.line {
background-image: url("../images/line.png");
}
.kakao {
background-image: url("../images/kakao.png");
}
.twitter {
background-image: url("../images/twitter.jpeg");
}

.hidden{
    display: none;
}

/* ipad portrait */
@media screen and (min-width: 668px) and (max-width: 768px) {
    .stats-area {
        width: 98%;
        font-size: 19px;;
    }
    .stats-area > div {
        width: 13%;
        display: inline-block;  
    }
    .game {
        display: flex;
        height: 96%;
        width: 100%;
        margin: 21px;
        padding:13px;
    }
    .card {
        justify-content: center;
        width: 27.33%;
        height: 42%;
    }
    .row1 {
        width: 100%;
        height: 32%;
    }
    .modal-content {
        margin: 46% auto;
        width: 33%;
    }

}
/* iphone678 portrait */
@media screen and (max-width: 375px) and (max-height: 667px) {
    header{
        font-size: 20px;
    }
    .stats-area{
        font-size: 10px;
    }
    .game {
        width: 94%;
        margin: 10px;
    }
    .card {
        width: 28.33%;
        height: 26%;
        padding: 4px;
        display:inline-block;
    }
    .row1{
        width: 100%;
        height: 43%;
        padding: 0;
    }
    .modal-content {
        margin: 64% auto;
        width: 62%;
    }
}
/* iphoneX portrait */
@media screen and (max-width: 375px) and (min-height: 812px) {
    header{
        font-size: 30px;
    }
    .stats-area{
        font-size: 15px;
    }
    .card {
        width: 25.33%;
        height: 26%;
        padding: 4px;
    }
    .game {
        width: 93%;
        margin: 20px;
    }
    .row1 {
        width: 98%;
        height: 29%;
        padding: 0;
    }
    .modal-content {
        margin: 58% auto;
        width: 62%;
    }
}

/* ipad landscape */
@media screen and (min-width: 1024px) and (max-height: 768px) {
    .stats-area  {
        display: inline-block;
        font-size: 21px;
        margin: -34px auto;
        width: 100%;
    }
    .game {
        display: flex;
        height: 100%;
        width: 93%;
        margin: 20px;
    }
    .row1 {
        width: 104%;
        height: 31%;
    }
    .modal-content {
        margin: 21% auto;
        width: 26%;
    }
}
/* iphone landscape */
@media screen and (min-width: 667px) and (max-height: 375px) {
    header{
        font-size: 20px;
    }
    .game {
        display: flex;
        height: 100%;
        width: 93%;
        margin: 20px;
    }
    .stats-area{
        font-size: 15px;
        margin: -22px auto;
    }
    .modal-content {
        margin: 11% auto;
        width: 38%;
    }
    .row1{
        width: 103%;
        height: 29%;
        padding: 0;
    } 
}